<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shreya_scademy.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity
            android:name=".ui.login.StaffLogin"
            android:exported="false" />
        <activity
            android:name=".ui.batch.LeaveCommentActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.batch.ActivityAllBatch"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.syllabus.ActivitySyllabus"
            android:exported="false"
            />
        <activity
            android:name=".ui.certificate.ActivityCertificateAssigned"
            android:exported="false"
            />
        <activity
            android:name=".ui.multibatch.ActivityMyBatch"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.paymentGateway.Razorpay"
            android:exported="false"
            />
        <activity
            android:name=".ui.library.ActivityPdf"
            android:exported="false"
            />
        <activity
            android:name=".ui.library.ActivityLibrary"
            android:exported="false"
            />
        <activity
            android:name=".ui.multibatch.ActivityMultiBatchHome"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.galary.galleryvideos.ActivityVimeoVideo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.forgotpassword.ActivityForgotPassword"
            android:exported="false"
            />
        <activity
            android:name=".ui.batch.ActivityBatchDetails"
            android:exported="false"
            />
        <activity
            android:name=".ui.batch.ActivityBatch"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.galary.galleryvideos.ExoplayerVideos"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.signup.ActivitySignUp"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.paymentGateway.ActivityPaymentGateway"
            android:exported="false"
            android:parentActivityName=".ui.paymentGateway.ActivityPaymentGateway"
            />
        <activity
            android:name=".ui.payment.ActivityPaymentHistory"
            android:exported="false"
            />
        <activity
            android:name=".ui.doubtClasses.ActivityDoubtClasses"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.editProfile.ActivityProfile"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.aboutapp.ActivityOpenSourceLibrary"
            android:exported="false"
            />
        <activity
            android:name=".ui.aboutapp.ActivityAboutApp"
            android:exported="false"
            />
        <activity
            android:name=".ui.settingdashboard.ActivitySettingDashboard"
            android:exported="false"
            />
        <activity
            android:name=".ui.applyleave.ActivityApplyLeave"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.certificate.ActivityCertificate"
            android:exported="false"
            />
        <activity
            android:name=".ui.home.ActivityPrivacyPolicy"
            android:exported="false"
            />
        <activity
            android:name=".ui.attendance.ActivityAttendance"
            android:exported="false"
            />
        <activity
            android:name=".ui.academicrecord.ActivityAcademicRecord"
            android:exported="false"
            />
        <activity
            android:name=".ui.live.ActivityLive"
            android:exported="false"
            />
        <activity
            android:name=".ui.generatepapers.ActivityGetPapers"
            android:exported="false"
            />
        <activity
            android:name=".ui.assignment.ActivityAssignment"
            android:exported="false"
            />
        <activity
            android:name=".ui.paymentGateway.paypal"
            android:exported="false"
            />
        <activity
            android:name=".ui.extraclass.ActivityExtraClass"
            android:exported="false"
            />
        <activity
            android:name=".ui.video.ActivityYoutubeVideo"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ui.base.BaseActivity"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.UpcomingExams.ActivitySubVacancy"
            android:exported="false"
            />
        <activity
            android:name=".ui.mcq.resultquestionlist.ActivityPaperResultList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            />
        <activity
            android:name=".ui.galary.galleryvideos.ActivityGalleryVideos"
            android:exported="false"
            />
        <activity
            android:name=".ui.noticeAnnouncement.ActivityForFragments"
            android:exported="false"
            />
        <activity
            android:name=".ui.mcq.generateresult.ActivityGenerateResult"
            android:exported="false"
            />
        <activity
            android:name=".ui.mcq.practiceresult.ActivityPracticeResult"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.mcq.practicepaper.ActivityPracticePaper"
            android:exported="false"
            />
        <activity
            android:name=".ui.mcq.ActivityMCQDashboard"
            android:exported="false"
            />
        <activity
            android:name=".ui.UpcomingExams.ActivityVacancyOrUpcomingExam"
            android:exported="false"
            />
        <activity
            android:name=".ui.home.ActivityHome"
            android:exported="false"
            />
        <activity
            android:name=".ui.login.ActivityLogin"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.mobilephone.PhoneNumberLoginActivity"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.mobilephone.PhoneNumberVerificationActivity"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"

            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.contact.ContactActivity"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.help.HelpDetailActivity"
            android:exported="false"
            android:hardwareAccelerated="true"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".utils.Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- pay pal server decler -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shreya_scademy.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>